.features {
    margin-left: 2rem;
}

.features .box{
    padding: 50px;
}

.features .box h2 {
    margin: 20px 0 20px 0;
}

.features .box p {
    word-spacing: 2px;
    transition: 0.5s;
}

.features .box i {
    font-size: 30px;
    margin-top: 20px;
    transition: 0.5s;
    opacity: 0;
}

.features .box:hover p{
    color: white;
}

.features .box:hover i{
    color: white;
    opacity: 1;
}

.heading_features {
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    h4 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 50px;
    }
    h1 {
        padding: 10px;
        padding-bottom: 40px;
    }
    
    .features .box{
        padding: 40px;
        padding-top: 40px;
    }
    
    .features .box h2 {
        align-items: center;
        justify-content: center;
    }
    
    .features .box p {
        word-spacing: 2px;
        transition: 0.5s;
    }
    
    .features .box i {
        font-size: 30px;
        margin-top: 20px;
        transition: 0.5s;
        opacity: 0;
    }
    
    .features .box:hover p{
        color: white;
    }
    
    .features .box:hover i{
        color: white;
        opacity: 1;
    }
    .container_features {
        text-align: center; /* Alinha o texto ao centro */
      }
    
      .heading_features {
        margin-bottom: 20px; /* Adiciona um espaço abaixo do título */
      }
    
      /* Adiciona estilos específicos para os itens do grid em dispositivos móveis */
      .content.grid {
        display: flex;
        flex-direction: column; /* Altera a direção do flexbox para coluna */
        align-items: center; /* Centraliza os itens ao longo do eixo transversal (vertical) */
      }
}
