.hero {
  position: relative;
}
.hero h3 {
  font-weight: 100;
  letter-spacing: 2px;
}
.hero h1 {
  font-size: 60px;
  font-weight: bold;
  color: #ff014f; 
}

.hero h1 span {
  color: #000000;
}
.hero h2 {
  font-size: 30px;
  font-weight: bold;
   
}
.hero h2 span {
  color: black;
}
.hero p {
  color: #878e99;
  font-size: 18px;
  line-height: 30px;
  margin-top: 30px;
}
.hero_btn {
  margin-top: 5%;
}
.hero_btn h4 {
  font-weight: 500;
  letter-spacing: 2px;
  color: #43474b;
  font-size: 15px;
  margin: 30px 0 30px 0;
}
.hero_btn button {
  margin-right: 30px;
}
.hero_btn i {
  font-size: 20px;
}

.hero_btn button img {
  width: 20px;
  height: 20px;
}
.hero .left {
  margin-right: 10%;
}
.hero .right {
  width: 5%;
  position: relative;
}
.hero .right_img {
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
  box-shadow: 1px 1px 1px #140202, -1px -1px 1px #ee3c63;
  border-radius: 10px;
  height: 530px;
  width: 480px;
}
.hero .right_img img {
  display: flex;
  align-items: center;
  justify-content: center;
  scale: 0.9;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .hero .right,
  .hero .left {
    width: 100%;
    margin-left: 5px;
  }

  .hero .f_flex {
    flex-direction: column;
    flex-direction: column-reverse;
  }
  .hero .right_img {
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 1px 1px 1px #140202, -1px -1px 1px #ee3c63;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 480px;
    width: 360px;
  }
  .hero .right_img img{
    display: flex;
    align-items: center;
    justify-content: center;
    scale: 0.9;
    padding-right: 40px;
  }
  .hero_btn {
    flex-direction: column; /* Altera a direção do flexbox para coluna */
    align-items: center; /* Centraliza os itens ao longo do eixo transversal (vertical) */
    text-align: center; /* Alinha o texto ao centro */
  }

  .col_1 {
    margin-bottom: 20px; /* Adiciona um espaço entre as duas colunas */
  }

  .button {
    margin-top: 10px; /* Adiciona um espaço acima do botão */
  }

  /* Estilos adicionais para os botões de habilidades (pode variar conforme a necessidade) */
  .col_1 button {
    margin: 5px; /* Adiciona um espaço entre os botões de habilidades */
  }

}
