.titleContact {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  font-size: 50px;
}
.containerContact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  padding: 2rem;
}

.form {
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.input {
  margin-bottom: 14px;
  height: 34px;
  border-radius: 4px;
  border: 0;
  padding: 0 8px;
}

.textarea {
  margin-bottom: 14px;
  border-radius: 4px;
  border: 0;
  padding: 8px;
  height: 94px;
  resize: none;
}

.buttonContact {
  height: 100%;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  background-color: #ff014f;
  font-size: 24px;
  font-weight: bold;
}

.icons_footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
